@use '../abstracts/variables' as v;


.top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -15;
    inset:0;
    background-image: url(/assets/background.jpg);
    background-size: cover;
}
.background {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: v.$background1;
    mix-blend-mode: multiply;
	background-size: 400% 400%;
    z-index:-10;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}