.buttons {
    width: 80%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    // grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: .5rem auto 2em auto;
}