@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as *;

.presContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bolder;
    align-items: center;
    width: 80%;


    @media screen and (max-width: 1314px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.presCard {
    @include frozenGlass;
    margin: 65px auto 5px auto;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    min-width: min-content;
    max-width: 1000px;

    &:hover .salute {
        transform: scale(1.1);
        transition: all .4s;
    }
}
.mainTitle{
    color: v.$font-dark;
    font-family: v.$font-main;
    font-size: 4rem;
    line-height: 2rem;
}
.mainTitleEmoji {
    font-size: 5vw;
    margin: 0 15px;
}
.presSubcontainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
}
.presSubcontainer img {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.salute {
    font-family: v.$font-secondary;
    margin: 40px 10px 10px 10px;
    padding: 2px;
    width: 550px;
    max-width: 60ch;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7em;
    transition: all .4s;
}
.typewriter {
    font-family: v.$font-main;
    font-weight: bolder;
    margin: 40px 10px 10px 10px;
    padding: 2px;
    width: 550px;
    max-width: 60ch;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7em;
    transition: all .4s;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 8.5s steps(35, end) infinite,
      blink-caret 0.75s step-end ;
  }
  
  /* The typing effect */
  @keyframes typing {
    0% { width: 0 }
    40% { width: 100% }
    100%  { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }