@use '../abstracts/variables' as v;

.toggleContainer {
    width: fit-content;
    height: 50px;
    margin: auto 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    
    opacity: .5;
    
    &:hover{
        opacity: 1;
    }
}
.toggleSwitch {
    margin: 0 auto;
    height: 20px;
    width: 45px;
    border-radius: 10px;
    border: 1px solid v.$font-light;
    background-color: v.$color-tertiary;
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ;
}
.toggleBall {
    background-color: v.$background2;
    border: .5px solid v.$font-light;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}
.modeImg {
    margin: auto 5px;
    filter: invert(100%);
    &.true {
        display: block;
    }
    &.false {
        display: hidden;
    }
}
