@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as *;

.aboutContent {
    @include frozenGlass;
    max-width: 1000px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    @media (max-width: 725px) {
        margin: 5px auto;
    }
}
.aboutPararagraph {
    font-family: v.$font-secondary;
    margin: 25px auto;
    padding: 2px;
    width: 80%;
    max-width: 60ch;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.3rem;
    @media (max-width: 725px) {
        margin: 5px;
    }
}
.aboutH2 {
    margin-left: 7rem;
    margin-right: auto;
    @media (max-width: 760px) {
        margin-left: 2rem;
    }
}
.stackElementsContainer {
    width: 80%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.stackElement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: .2rem;
    width: 90%;
    min-width: 250px;
    margin: .5rem auto;
    border-radius: 10px;
    border: 1px solid v.$color-accent;
}
.stackElementHeading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.stackElementImage {
    margin: 1rem;

}
.stackElementName {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 1rem;
}
.stackSubelementsContainer {
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .2rem;
    justify-content: space-around;
    align-items: center;
    padding: .3rem

}
.stackSubelement {
    border: 1px solid v.$color-accent;
    border-radius: 10px;
    padding: .2rem;
    flex-grow: 1;
    margin: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stackSubelementImage {
    margin-inline: 1rem;
}
.stackSubelementName {
    margin-block: .2rem;
}