@use '../abstracts/variables' as v;

.footer {
    display: flex;
    flex-direction: column;
    padding: .3rem;
    color: v.$font-light;
    background-color: v.$color-main;
}
.footerColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footerColumn1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;
    @media (max-width: 525px) {
        width: 100%;
        margin-inline: .2rem;
        }
}
.footerName{
    margin-block: .5rem;
}
.footerNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;
    @media (max-width: 525px) {
        margin-inline: .2rem;
        }
}
.footerLink {
    display: block;
    width: 100%;
    text-align: center;
    margin:.2rem;
    color: v.$font-light;
    
    &:hover {
        background-color: v.$font-light;
        color: v.$font-dark;
    }

}
.contactButton {
    width: 10rem;
    height: 2rem;
    color: v.$font-light;
    background-color: #1a1a1a00;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid v.$font-light;
    cursor: pointer;
    margin-bottom: .5rem;

    &:hover {
        background-color: v.$font-light;
        color: v.$font-dark;
    }
}
.footerColumn1 a{
    text-decoration: none;
}

.separator {
    width: .1rem;
    height: 5rem;
    margin-block: auto;
    background-color: v.$background0;
    margin: .3rem;
    @media (max-width: 525px) {
        display: none;
    }
}
.socialIconContainer {
    width: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 2rem;
    @media (max-width: 525px) {
        flex-direction: column;
        margin-inline: 0;
        flex-direction: column;
        justify-content: space-between;
        }
}
.socialIcon {
    margin: .2rem;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#FFFF00;
    height: 1px;
  }
.credits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: .8rem;
}
.creditsTitle {
    font-size: .8rem;
    @media (max-width: 525px) {
        display: none;
        }
}
a {
    color: v.$font-light;
}
