@use '../abstracts/variables' as v;

.light {
    &.button0 {
        background-color: v.$color-main;
        color: v.$font-light;
    }
    &.button1 {
        background-color: v.$color-secondary;
        color: v.$font-dark;        
    }
    &.button2 {
    background-color: v.$color-tertiary;
    color: v.$font-dark;
    }
    &.button3 {
        background-color: v.$color-accent;
        color: v.$font-light; 
    }
}
.dark {
    &.button0,
    &.button2 {
    background-color: v.$background2;
    color: v.$font-light;    
    }
    &.button1,
    &.button3 {
    background-color: v.$background2;
    color: v.$font-light;
    }
    &.back {
        background-image: url(..//assets/bgdark.jpg);
    }
    &.pres {
        background-color: rgba($color: #dfdfdf, $alpha: .2);
    }
    &.presTitle {
        color: v.$font-light;
    }
    &.toggle {
        flex-direction: row-reverse;
        transition: all .4s ;
    }
    &.presText{
        color: v.$font-light;
        background-color: rgba($color: #dfdfdf, $alpha: .2);

    }
}