@use '../abstracts/variables' as v;

.light {
    &.sun {
        visibility: visible;
    }
    &.moon {
        visibility: hidden;
    }
    &.button0 {
        background-color: v.$color-accent;
        color: v.$font-light;
    }
    &.button1 {
        background-color: v.$color-accent;
        color: v.$font-light;        
    }
    &.button2 {
        background-color: v.$color-main;
        color: v.$font-light;
        height: 75px;
    }
    &.button3 {
        background-color: v.$color-main;
        color: v.$font-light; 
        height: 75px;
    }
    &.new {
        background-color: v.$color-main;
    }
    &.pres {
        text-shadow: 2px 2px 5px #404040;
    }
}
.dark {
    &.header,
    &.footer {
        background-color: v.$background2;
        color: v.$font-light;
    }

    &.sun {
        visibility: hidden;
    }
    &.moon {
        visibility: visible;
    }
    &.button0,
    &.button1,
    &.button2, 
    &.button3 {
    color: v.$font-light; 
    }
    &.button2, 
    &.button3 {
    height: 75px;
    }

    &.back {
        background-color: #021318;
    }
    &.pres {
        background-color: rgba($color: #dfdfdf, $alpha: .5);
        text-shadow: 2px 2px 5px #404040;
    }
    &.presTitle {
        color: v.$font-light;
    }
    &.toggle {
        flex-direction: row-reverse;
        transition: all .4s;
        background-color: v.$font-dark
    }
    &.presText{
        color: v.$font-dark;
        background-color: rgba($color: #dfdfdf, $alpha: .2);
    }
    &.new {
        background-color: v.$background2;
    }
    &.projectTitle {
        background-color: v.$background1;
        color: v.$font-light;

    }
    &.title {
        background-color: v.$background1;
        color: v.$font-dark;
    }
    &.cardCta {
        background-color: v.$background1;
        color: v.$font-dark;
    }
}