@use '../abstracts/variables' as v;

.light {
    &.sun {
        visibility: visible;
    }
    &.moon {
        visibility: hidden;
    }
    &.button0 {
        background-color: v.$color-accent;
        color: v.$font-light;
    }
    &.button1 {
        background-color: v.$color-accent;
        color: v.$font-light;        
    }
    &.button2 {
        background-color: v.$color-main;
        color: v.$font-light;
        height: 75px;
    }
    &.button3 {
        background-color: v.$color-main;
        color: v.$font-light; 
        height: 75px;
    }
    &.new {
        background-color: v.$color-main;
    }
    &.pres {
        text-shadow: 2px 2px 5px #404040;
    }
    &.html {
        background-color: rgb(25, 17, 248);
    }
    &.css {
        background-color: rgb(248, 17, 17);
    }
    &.javascript {
        background-color: rgb(248, 248, 17);
        color: v.$font-dark;
    }
    &.react {
        background-color: rgb(71, 17, 248);
    }
    &.nodejs {
        background-color: rgb(248, 56, 17);
    }
    &.expressjs {
        background-color: rgb(248, 17, 171);
    }
}

.dark {

    &.header,
    &.footer {
        background-color: v.$background2;
        color: v.$font-light;
    }

    &.sun {
        visibility: hidden;
    }
    &.moon {
        visibility: visible;
    }

    &.button0,
    &.button1,
    &.button2, 
    &.button3 {
    color: v.$font-light; 
    }
    &.button2, 
    &.button3 {
    height: 75px;
    }

    &.back {

            background: linear-gradient(-45deg, #3d0d35, #25063d, #012e3f, #01281f);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;

    }
    &.pres {
        background-color: rgba($color: #dfdfdf, $alpha: .5);
        text-shadow: 2px 2px 5px #404040;
    }
    &.presTitle {
        color: v.$font-light;
    }
    &.toggle {
        flex-direction: row-reverse;
        transition: all .4s;
        background-color: v.$font-dark
    }
    &.presText{
        color: v.$font-dark;
        background-color: rgba($color: #dfdfdf, $alpha: .2);
    }
    &.new {
        background-color: v.$background2;
    }
    &.projectTitle {
        background-color: v.$background1;
        color: v.$font-light;

    }
    &.title {
        background-color: v.$background1;
        color: v.$font-dark;
    }
    &.projectTagsContainer {
        color: v.$font-light;
    }
    &.html {
        background-color: rgb(25, 17, 248);
    }
    &.css {
        background-color: rgb(248, 17, 17);
    }
    &.javascript {
        background-color: rgb(248, 248, 17);
        color: v.$font-dark;
    }
    &.react {
        background-color: rgb(71, 17, 248);
    }
    &.nodejs {
        background-color: rgb(248, 56, 17);
    }
    &.expressjs {
        background-color: rgb(248, 17, 171);
    }
    &.cardCta {
        background-color: v.$background1;
        color: v.$font-dark;
    }
}

            
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}