@use '../abstracts/variables' as v;

@mixin frozenGlass {
display: flex;
flex-wrap: wrap;
align-items: center;
border-radius: 15px;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(8.9px);
border: 1px solid rgba(255, 255, 255, 0.4);
background-color: v.$background1;
}