// :root{
    /*fonts*/
    $font-main: courier;
    $font-secondary: tahoma;
    /*colors*/
    $font-dark: #1a1a1a;
    $font-light: #e3e3e3;
    $color-main: #0728B3;
    $color-secondary: #ae83e1;
    $color-tertiary: #14BDEB;
    $color-accent: #D81E5B;
    $background0: hsla(0, 0%, 97%, .35);
    $background1: hsla(0, 0%, 97%, .5);
    $background2: rgba(17, 17, 17, 0.8);
// }