// :root{
    /*fonts*/
    $font-main: courier;
    $font-secondary: tahoma;
    /*colors*/
    $font-light: #1a1a1a;
    $font-dark: #e3e3e3;
    $color-main: #0728B3;
    $color-secondary: #D0C4DF;
    $color-tertiary: #14BDEB;
    $color-four: #D81E5B;
    $background1: hsla(0, 0%, 97%, .35);
    $background2: #080808;
// }