
/* abstracts*/
@use './scss/abstracts/variables';
@use './scss/abstracts/mixins';

/*base*/
@use './scss/base/base';
@use './scss/base/resets';

#root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}